.post-wrapper{
    height: fit-content;
    background-color: hsl(var(--clr-white));
    box-shadow: 1px 0px 0px 3px hsl(var(--clr-light));
}

.post-image-wrapper{
    display: grid;
}

.post-image-wrapper>*{
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.post-info-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-picture{
    aspect-ratio: 2/1;
}

@media only screen and (max-width: 60rem) {
    .post-picture{
        aspect-ratio: 1.25/1;
    }
  }

.post-picture:hover, 
.post-learn-more:hover + .post-picture{
    cursor: pointer;
    filter: brightness(40%);
    
}
.post-picture, .post-picture:hover{
    transition: all 500ms ease;
}

.post-learn-more{
    display: none;
    cursor: pointer;
}
  
.post-image-wrapper:hover > .post-learn-more{
    display: block;
    align-self: center;
    justify-self: center;
    color: hsl(var(--clr-white));
    letter-spacing: 1px;
    font-size: 1.75rem;
    z-index: 1;
}

.post-author-info{
    display: flex;
    justify-content: space-between;
}

.posts-design-elements{
    width: 100%;
    height: 5rem;
}

.design-element{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 2px;
}