:root{
    --clr-light: 0, 0%, 97%;
    --clr-white: 0 0% 100%;
    --clr-dark: 230 35% 7%;
    --clr-gray: 0, 0%, 66%;
    --clr-dark-gray: 0, 0%, 50%;


    --ff-serif-lato: 'Lato', sans-serif;

    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
}

*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: var(--ff-serif-lato);
    font-weight: var(--fw-400);
  }

  .text-gray{
    color: hsl(var(--clr-gray));
  }
  
  .text-dark-gray{
    color: hsl(var(--clr-dark-gray));
  }

  .fw-900{
    font-weight: var(--fw-900);
  }

  .fw-700{
    font-weight: 700;
  }

 