.users-posts{
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

@media only screen and (max-width: 40rem) {
    .users-posts{ 
      display: flex;
      flex-direction: column;
    }
  }

.selected-post-wrapper{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(50%);
    z-index: 3;
    height: 100vh;
    width: 100vw;
}

